/*
  Underline links by default for better accessibility and clarity.

  @see https://github.com/squidfunk/mkdocs-material/discussions/6238
 */
.md-nav a,
.md-content a,
.md-typeset a,
.md-source__repository {
  text-decoration: underline;
}
/* Remove underlines from this because we just want to target the text and this
   results in a strange mis-aligned underline between the icon and text. */
.md-nav .md-source {
  text-decoration: none;
}
